*.pyc
__pycache__
*.so
*.pkl
images.npy
data.npz
*.mp4
*.svg
animations/
*.json
*.npz
wandb/
.iceberg
*.pdf
*.png
.vscode
*.*prof
.hypothesis
checkpoints*
slurm
*.pt
NOTES.md
vgqan.ckpt
*.ckpt
vqgan.yaml
taming
debug_path.py
.iceberg
evals/
